<div class="classtime-table">

	<table>
		<thead>
			<tr>
				<% @days_of_week.each do |date| %>
					<th>
						<div><%= date.strftime("%a") %></div>
						<div class="week-date"><%= date.strftime("%d %b") %></div>
						
					</th>
				<% end %>
			</tr>
		</thead>
		<tbody>
			<% SlotBooking.timings.each do |timing, value| %>
				<tr>
					<!-- <td class="workout-time"><%= timing %></td> -->
					<% @days_of_week.each do |date| %>
						<% if ((value.to_time > @current_time &&  date.to_date == Date.today) || date.to_date > Date.today) && not_booked(date, value) %>
							<td class="hover-bg ts-item" data-tsmeta="crossfit">
								<span style="font-size: 13px; padding-top: 5px;"><%= timing %></span>
								<!-- uncomment show button permanently -->
								<!-- <a href="/checkout"><h6>Book Now</h6></a> -->
								<!-- Comment this line and script below to stop mouse hover effect -->
								<a href="/checkout?date=<%= date %>&time=<%= value %>&booking_type=slot_booking&amount=<%= @consult.amount %>" class="book-now" style="visibility: hidden;" data-turbolinks="false"><p style="font-size: 12px; color: #ffffff; font-weight: 50">Book Now</p></a>
							</td>
						<% else %>
							<td>
								<span>-</span>
							</td>
						<% end %>
					<% end %>
					
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
<script type="text/javascript">
	$('.ts-item').mouseover(function(){
		$(this).find('.book-now').css('visibility','visible');
	})
	$('.ts-item').mouseout(function(){
		$(this).find('.book-now').css('visibility','hidden');
		$(this).find('.book-now').css('transition','visibility 0s linear 0s, opacity 100ms;');
	})
</script>