<%= render partial: 'shared/header' %>

<section class="breadcrumb-section set-bg spad" data-setbg="<%= @about.bg %>">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="breadcrumb-text">
<h2>CONSULTATION</h2>
<div class="breadcrumb-controls">
<a href="<%= root_path %>" data-turbolinks="false"><i class="fa fa-home"></i> Home</a>
<span>CONSULTATION</span>
</div>
</div>
</div>
</div>
</div>
</section>


<section class="classtime-section class-time-table spad">
<div class="container">
<div class="row">
<div class="col-lg-12 text-center">
<div class="section-title">
<h2><%= @consult.heading %></h2>
<p><%= @consult.desc %></p>
<p>The amount paid for the consultation call will be adjusted to the program you purchase.</p>
<h5 style="color: #e4381c; margin-top: 20px"><b><%= @consult.sub_desc %></b></h5>

</div>
</div>
</div>
<div class="row">
<div class="col-lg-12">
<div class="timetable-controls">

	<a href="javascript:" class="previous" style="display: none;">&laquo;</a>

	<a href="javascript:" class="next">&raquo;</a>

</div>
</div>
</div>

<div class="row">
	<div data-date="<%= @date %>" id="time-table-div" style="width: 100%;">
		<%= render partial: "time_table" %>
	</div>
</div>
</div>
</section>



<%= render partial: 'shared/footer' %>
<script type="text/javascript">
	$('.previous').click(function(){
		var date = new Date($('#time-table-div').attr('data-date'));
		date.setDate(date.getDate() - 5);
		getTimeTable(date.toDateString())
	})
	$('.next').click(function(){
		var date = new Date($('#time-table-div').attr('data-date'));
		date.setDate(date.getDate() + 5);
		getTimeTable(date.toDateString())
	})
	function getTimeTable(date){
		$.ajax({
			url: '/consultation',
			type: 'GET',
			dataType: 'script',
			data: {date: date}
		})
	}
</script>