$('#time-table-div').fadeOut("slow",function(){
	$('#time-table-div').html("<%= escape_javascript(render 'time_table') %>").fadeIn("fast",function(){
		$('#time-table-div').attr('data-date', '<%= @date %>');
	})
})
<% if @date > Date.today %>
	$('.previous').show();
<% else %>
	$('.previous').hide();
<% end %>