<%= render partial: 'shared/header' %>

<section class="breadcrumb-section set-bg spad" data-setbg="<%= @about.bg %>">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="breadcrumb-text">
<h2>PROGRAMS</h2>
<div class="breadcrumb-controls">
<a href="<%= root_path %>" data-turbolinks="false"><i class="fa fa-home"></i> Home</a>
<span> <%= @program.heading %></span>
</div>
</div>
</div>
</div>
</div>
</section>

<section class="blog-single-section spad">
<div class="container">
<div class="row">
 <div class="col-lg-6">
<div class="blog-single-text">
	<div class="blog-pic">
<div class="row">
<div class="col-lg-12">
<img src="<%= @program.img_url %>" alt="">
</div>
</div>
</div>
<div class="blog-text">
<p style="color: #ffffff; font-size: 15px; font-weight: bold;"><%= @program.paragraph_one %></p>
</div>
<div>
<iframe src="<%= @program.video_link %>"
   width="100%" height="300px" frameborder="0" allowfullscreen>
   </iframe></div>

</div>
</div>
<div class="col-lg-6">
<div class="blog-single-sidebar">
<div class="bs-latest-news">
			<p style="color: #ffffff; font-size: 22px; font-weight: bold;"><%= @program.heading %></p>
			<p style="color: #ffffff; font-size: 18px; font-weight: bold;">RS. <%= @program.amount %></p>
			<p style="color: #ffffff; font-size: 15px;"> Rs. <s><%= @program.actual_price %></s> (<%= @program.discount %>% Off)</p>

<!-- <a href="/program-checkout?amount=<%= @program.amount %>&program=<%= @program.heading %>&desc=<%= @program.short_desc %>&booking_type=program_booking&pay_link=<%= @program.payment_link %>" data-turbolinks="false" class="primary-btn cta-btn">book it now</a>
 -->
<a href="/consultation" data-turbolinks="false" class="primary-btn cta-btn">book it now</a>
		
</div>

<div class="blog-text">
<p style="color: #ffffff; font-size: 15px; font-weight: bold;"><%= @program.paragraph_two %></p>
</div>
<div class="bs-latest-news" style="margin-top: 50px;">
			<p><%= @program.content.html_safe %></p></p>
			
		
</div>
</div>
</div>
</div>

</div>
</div>
</div>

</section>

<section class="trainer-section spad">
<% if @testimonials.size > 0 %>	

		<div class="container">
		<div class="row">
		<div class="col-lg-12">
		<div class="section-title">
		<h2>Testimonials</h2>
		<p>Join our family and start your journey.</p>
		</div>
		</div>
		</div>
		<div class="scroll">
		<div class="row">

		<% @testimonials.each do |testimonial| %>

		<div class="col-lg-3 col-sm-6">
		<div class="trainer-item">
		<div class="ti-pic">
		<iframe src="<%= testimonial.video_link %>"
		   width="100%" height="400px" frameborder="0" allowfullscreen></iframe>
		</div>
		</div>
		</div>

		<% end %>
		</div>
		</div>
		</div>
<% end %>

</section>

<%= render partial: 'shared/footer' %>
