<%= render partial: 'shared/header' %>

<section class="breadcrumb-section set-bg spad" data-setbg="<%= @about.bg %>">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="breadcrumb-text">
<h2>PROGRAMS</h2>
<div class="breadcrumb-controls">
<a href="<%= root_path %>" data-turbolinks="false"><i class="fa fa-home"></i> Home</a>
<span> <%= @program.heading %></span>
</div>
</div>
</div>
</div>
</div>
</section>



<section class="home-about spad">
<div class="container">
<div class="row">
<div class="col-lg-6">
<div class="about-img">
<iframe src="<%= @about.video %>"
   width="100%" height="500px" frameborder="0" allowfullscreen></iframe></div>
</div>
<div class="col-lg-6">
<div class="about-text">
<h2><%= @program.heading %></h2>
<a href="/program-checkout?amount=<%= @program.amount %>&program=<%= @program.heading %>&desc=<%= @program.short_desc %>&booking_type=program_booking&pay_link=<%= @program.payment_link %>" data-turbolinks="false" class="primary-btn about-btn">Buy Now</a>

<div class="section-title" style="margin-top: 50px; color: #ffffff;">
<p><%= @program.content %></p>
</div>
</div>
</div>
</div>
</div>
</section>


<%= render partial: 'shared/footer' %>
