<div class="jumbotron text-center" style="height: 100%;">
  <h1 class="display-3">Payment Success !</h1>
  <p class="lead" style="padding: 30px;">A confirmation email has been sent to your email address.
Thanks for booking a consultation with shehroz alam.</p>
  <hr>

  <p class="lead">
    <a class="btn btn-primary btn-sm" data-turbolinks="false" href="https://shehrozalam.com" role="button">Continue to homepage</a>
  </p>
</div>
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '2874213869467025');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=2874213869467025&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->