<footer class="footer-section">
<div class="container">
<div class="row">
<div class="col-lg-4">
<div class="footer-logo-item">
<div class="f-logo">
<a href="<%= root_path %>"><img src="/assets/logo.png" alt=""></a>
</div>
<p>As you know by now, my name is Shehroz Alam. Proud Kashmiri born in a family of enterpreneurs, father to the best cat in the world. A Commerce graduate, turned Fitness Coach, a Nutritionist and a Business Owner.
</p>
<div class="social-links">
<h6>Follow us</h6>
<a href="https://www.youtube.com/channel/UCfCc7lBhsV4ez2cIjXYJv6A?feature=emb_ch_name_ex" target="_blank"><i class="fa fa-youtube"></i></a>
<a href="https://www.instagram.com/theshehrozalam" target="_blank"><i class="fa fa-instagram"></i></a>
<a href="https://twitter.com/theshehrozalam" target="_blank"><i class="fa fa-twitter"></i></a>
<a href="https://www.facebook.com/theshehrozalam" target="_blank"><i class="fa fa-facebook"></i></a>
</div>
</div>
</div>
<div class="col-lg-4 offset-lg-1">
<div class="footer-widget">
<h5>More</h5>
<ul class="workout-program">
<li><a href="<%= root_path %>" data-turbolinks="false">Home</a></li>
<li><a href="#" data-turbolinks="false">Privacy Policy</a></li>
<li><a href="#" data-turbolinks="false">Terms & Conditions</a></li>
</ul>
</div>
</div>

<div class="col-lg-3">
<div class="footer-widget">
<h5>Get Info</h5>
<ul class="footer-info">
<li>
<i class="fa fa-phone"></i>
<span>Phone:</span>
(+91) 9910772367
</li>
<li>
<i class="fa fa-envelope-o"></i>
<span>Email:</span>
<a href="mailto:info@shehrozalam.com" class="__cf_email__" data-cfemail="">info@shehrozalam.com</a>
</li>
<li>
<i class="fa fa-map-marker"></i>
<span>Address</span>
New Friends Colony, Delhi-IND
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="copyright-text">
<div class="container">
<div class="row">
<div class="col-lg-12 text-center">
<div class="ct-inside">
Copyright &copy;<script type="">document.write(new Date().getFullYear());</script> All rights reserved | This template is made with by <a href="https://blacklensstudio.com" target="_blank">BlackLens Studio</a>
 </div>
</div>
</div>
</div>

</div>
</footer>