<div id="preloder">
<div class="loader"></div>
</div>

<header class="header-section">
<div class="container-fluid">
<div class="logo">
<a href=<%= root_path %> data-turbolinks="false">
<img src="/assets/logo.png" alt="logo" style="width: 320px;">
</a>
</div>
<div class="top-social">
  <a href="https://www.youtube.com/channel/UCfCc7lBhsV4ez2cIjXYJv6A?feature=emb_ch_name_ex" target="_blank"><i class="fa fa-youtube"></i></a>
<a href="https://www.instagram.com/theshehrozalam" target="_blank"><i class="fa fa-instagram"></i></a>
<a href="https://twitter.com/theshehrozalam" target="_blank"><i class="fa fa-twitter"></i></a>
<a href="https://www.facebook.com/theshehrozalam" target="_blank"><i class="fa fa-facebook"></i></a>
</div>
<div class="container">
<div class="nav-menu">
<nav class="mainmenu mobile-menu">
<ul>
<li class="<%= (params[:controller] == 'home' && params[:action] == 'index') ? 'active': '' %>"><a href="<%= root_path %>" data-turbolinks="false">Home</a></li>
<!-- <li><a href="/about-me" data-turbolinks="false">Why choose Shehroz Alam Fitness and Nutrition</a></li> -->
<li class="<%= (params[:controller] == 'about' && params[:action] == 'show') ? 'active': '' %>"><a href="/about-me" data-turbolinks="false">About Me</a></li>
<li id="program-li" class="<%= (params[:controller] == 'programs' && params[:action] == 'show') ? 'active': '' %>"><a href="#programs" data-turbolinks="false" class="no-ext">Programs</a>
<ul class="dropdown">
<% @programs.each do |program| %>
<li><a href="<%= program_show_path(slug: program.slug) %>" data-turbolinks="false"><%= program.heading %></a></li>
<% end %>

</ul>
</li>
<li class="<%= (params[:controller] == 'home' && params[:action] == 'coming_soon') ? 'active': '' %>"><a href="/coming-soon" data-turbolinks="false">Workshops</a></li>
<li class="<%= (params[:controller] == 'consultation' && params[:action] == 'index') ? 'active': '' %>"><a href="/consultation" data-turbolinks="false">Consultation</a></li>
<li class="<%= (params[:controller] == 'blog' && params[:action] == 'index') ? 'active': '' %>"><a href="/blog" data-turbolinks="false">Blogs & Videos</a>

</li>
<li class="<%= (params[:controller] == 'contact' && params[:action] == 'show') ? 'active': '' %>"><a href="/contact-us" data-turbolinks="false">Contact</a></li>
</ul>
</nav>
</div>
</div>
<div id="mobile-menu-wrap"></div>

</div>
<!-- The social media icon bar -->
<!-- <div class="icon-bar">
	<a href="https://api.whatsapp.com/send?phone=+919910772367" class="whatsapp"><i class="fa fa-whatsapp"></i></a>
		<a href="https://www.instagram.com/theshehrozalam" class="instagram"><i class="fa fa-instagram"></i></a>
	<a href="https://www.facebook.com/theshehrozalam" class="facebook"><i class="fa fa-facebook"></i></a>
  <a href="https://twitter.com/theshehrozalam" class="twitter"><i class="fa fa-twitter"></i></a>
  <a href="#" class="youtube"><i class="fa fa-youtube"></i></a>
</div> -->


<!-- <a href="https://api.whatsapp.com/send?phone=+919910772367&text=" class="float" target="_blank">
<i class="fa fa-whatsapp my-float"></i>
</a> -->
<div class="help-button-wrapper">
  <ul class="help-list">

    <li><a href="https://api.whatsapp.com/send?phone=+919910772367" style="color: #ffffff;">Whats App</a></li>
    <li><a href="https://www.youtube.com/channel/UCfCc7lBhsV4ez2cIjXYJv6A?feature=emb_ch_name_ex" style="color: #ffffff;">Youtube</a></li>
    <li><a href="https://www.instagram.com/theshehrozalam" style="color: #ffffff;">Instagram</a></li>
    <li><a href="https://www.facebook.com/theshehrozalam" style="color: #ffffff;">Facebook</a></li>
  </ul>
<div></div>
  <button class="help-button">
   <img src="/assets/customer-service.png" style="width: 30px;">
  </button>
</div>
</header>
<script type="text/javascript">
	 $(document).ready(function(){
    addActiveClass();
		$(".help-button").on("click", function() {
		  $(".help-button-wrapper").toggleClass("expanded");
		});

     $('.no-ext').click(function(){
                var eleId = $(this).attr('href').split('#')[1];
                if($('#'+eleId).length == 0){
                    window.location.href = "/#"+eleId;
                }
            })
	   })

   function addActiveClass(){
    var hash = window.location.hash.substr(1);
    if(hash == 'programs'){
      $('.mainmenu').find('li').removeClass('active');
      $('.mainmenu').find('li#program-li').addClass('active');
    }
   }

    $('#program-li').click(function(){
      addActiveClass()
    })
</script>

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '2874213869467025');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=2874213869467025&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->