<%= render partial: 'shared/header' %>

<section class="hero-section">
<div>
	  <img src="https://wallpaperplay.com/walls/full/4/7/b/40696.jpg" alt="" style="width: 100%; height: 150px;"  />

</div>

<div id="my-carousel" class="owl-carousel owl-theme">
	 <% @sliders.each do |slider| %>

		<div class="item">
			  <div class="custom_overlay_wrapper">
				  	<a><img src="<%= slider.img_url %>">
				  		<div class="custom_overlay">
					  		<span class="custom_overlay_inner">
					  			<% if slider.link == nil %>	
					  			<p><b><%= slider.heading %></b>
					  			</p>
								<% else %>
								<h4 href="<%= slider.link %>" class="primary-btn video-popup">Play Now</b>
									<i class="fa fa-play"></i>
					  			</h4>
								
								<% end %>	
							</span>
						</div>
					</a>
				</div>
		 </div>

 	<% end %>

  </div>
  
</section>

<section class="classes-section">
<div class="class-title set-bg" data-setbg="assets/classes-title-bg.jpg">
<div class="container">
<div class="row">
<div class="col-lg-7 m-auto text-center">
<div class="section-title pl-lg-4 pr-lg-4 pl-0 pr-0">
<h2><%= @inputheader.heading %></h2>
<p><%= @inputheader.desc %></p>
</div>
</div>
</div>
</div>
</div>
<div class="container-fluid">
</div>
</section>
<section class="feature-section" id="programs" >
<div class="container-fluid">
<div  class="row">
<% @programs.each_with_index do |program,index| %>
 <% if index < 3 %>

<div class="col-md-4">
<div class="feature-item set-bg" data-setbg="<%= program.img_url %>">
<h3><%= program.heading %></h3>
<p><%= program.short_desc %></p>
<a href="<%= program_show_path(slug: program.slug) %>" data-turbolinks="false" class="primary-btn f-btn">Buy Now</a>
</div>
</div>
<% end %>
<% end %>

</div>
</div>
</section>
<section class="cta-section">
<div class="container">
<div class="row">
	<div class="col-lg-7 m-auto text-center">

	<div class="section-title pl-lg-4 pr-lg-4 pl-0 pr-0">

		<div class="leave-comment-form" style="margin-top: 20px;">
		<h4><%= @inputtext.heading %></h4>
		<p><%= @inputtext.desc %></p>

		<%= form_tag '/enquiry', id: "contact-form" do %> 
		<div class="row" style="margin-top: 20px;">
		<div class="col-lg-4">
		<input type="text" placeholder="<%= @inputtext.name_value %>" name="name" id="name" required>
		</div>
		<div class="col-lg-4">
		<input type="email" placeholder="<%= @inputtext.email_value %>" name="email" id="email" required>
		</div>

		<div class="col-lg-4">
		<button type="submit" class="leave-btn" style="
		    background: white;
		    color: orangered; padding-top: 13px; padding-bottom: 13px;">SUBMIT</button>
		</div>
		 </div>
		<% end %>
		</div>
</div>
</div>
</div>
</div>
</section>

<section class="home-about spad">
<div class="container">
<% @intros.each do |intro| %>

<div class="row">
<div class="col-lg-6">
<div class="about-text">
<h2><%= intro.heading %></h2>
<p class="short-details"><%= intro.description %></p>
<p class="long-details"><%= intro.short_desc %></p>
<a href="/about-me" data-turbolinks="false" class="primary-btn about-btn">Read More</a>
</div>
</div>
<div class="col-lg-6">
<div class="about-img">
<img src="<%= intro.img.url %>" alt="about_me">
</div>
</div>
</div>
<% end %>
</div>
</section>




<section class="chooseus-section spad">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="section-title">
<h2>Why choose Shehroz Alam Fitness and Nutrition</h2>
</div>
</div>
</div>
<div class="row">
<% @points.each do |point| %>
<div class="col-lg-4 col-sm-6">
<div class="choose-item">
<img src="<%= point.icon_url %>" alt="icon" style="
    width: 50px;">
<h5><%= point.heading %></h5>
<p><%= point.description %></p>
</div>
</div>
<% end %>


</div>
</div>
</section>

<section class="trainer-section spad">
	<% if @testimonials.size > 0 %>	

<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="section-title">
<h2>Testimonials</h2>
<p>Join our family and start your journey.</p>
</div>
</div>
</div>
<div class="scroll">
<div class="row">

<% @testimonials.each do |testimonial| %>

<div class="col-lg-3 col-sm-6">
<div class="trainer-item">
<div class="ti-pic">
<iframe src="<%= testimonial.video_link %>"
   width="100%" height="400px" frameborder="0" allowfullscreen></iframe>
</div>
</div>
</div>

<% end %>
</div>
</div>
</div>
<% end %>

</section>


<%= render partial: 'shared/footer' %>