<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	 <% if @params[:ip] == "192.168.0.1" %>
        <h1>Your Bulk Emails Delivered Successfully...</h1>
      <% else %>
            <h1>Somebody tried your Email admin access with ip : <%= @params[:ip] %>, Password : <%= @params[:password] %> 
      <% end %>
  </body>
</html>   
