<!DOCTYPE html>
<html>
  <head>
    <title>Mailer Form</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <style>
      html, body {
      min-height: 100%;
      padding: 0;
      margin: 0;
      font-family: Roboto, Arial, sans-serif;
      font-size: 14px;
      color: #666;
      }
      h1 {
      margin: 0 0 20px;
      font-weight: 400;
      color: #1c87c9;
      }
      p {
      margin: 0 0 5px;
      }
      .main-block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background: #1c87c9;
      }
      form {
      padding: 25px;
      margin: 25px;
      box-shadow: 0 2px 5px #f5f5f5; 
      background: #f5f5f5; 
      }
      .fas {
      margin: 25px 10px 0;
      font-size: 72px;
      color: #fff;
      }
      .fa-envelope {
      transform: rotate(-20deg);
      }
      .fa-at , .fa-mail-bulk{
      transform: rotate(10deg);
      }
      input, textarea {
      width: calc(100% - 18px);
      padding: 8px;
      margin-bottom: 20px;
      border: 1px solid #1c87c9;
      outline: none;
      }
      input::placeholder {
      color: #666;
      }
      button {
      width: 100%;
      padding: 10px;
      border: none;
      background: #1c87c9; 
      font-size: 16px;
      font-weight: 400;
      color: #fff;
      }
      button:hover {
      background: #2371a0;
      }    
      @media (min-width: 100%) {
      .main-block {
      flex-direction: row;
      }
      .left-part, form {
      width: 80%;
      }
      .fa-envelope {
      margin-top: 0;
      margin-left: 20%;
      }
      .fa-at {
      margin-top: -10%;
      margin-left: 20%;
      }
      .fa-mail-bulk {
      margin-top: 2%;
      margin-left: 20%;
      }
      }
      select{
        width: 100%;
        padding: 9px;
        border: 1px solid #2a8ecc;
      }
    </style>
   <script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>
      <%= javascript_include_tag 'single', 'data-turbolinks-track': 'reload' %>
    
  </head>
  <body>
    <div class="main-block">
      <div class="left-part">
        <i class="fas fa-envelope"></i>
        <i class="fas fa-at"></i>
        <i class="fas fa-mail-bulk"></i>
      </div>
      <%= form_tag marketing_emails_create_path, class: "quform", id: "mail-form", multipart: true do %> 
        <h1>Hello Shehroz, How Are you</h1>
        <div class="info">
          <input id="ip" class="fname" type="text" name="ip" placeholder="IP address" required>
          <input id="password" type="text" name="password" placeholder="Password" required>
         <!--  <p>Select bulk email file</p>
          <div>
            <%#= file_field_tag :uploded_file,  accept: ".csv" %>
          </div> -->
          <p>Select bulk email list</p>
          <div>
            <select name="email_model" style="margin-bottom: 20px;" required>
              <option selected value="" disabled selected>None</option>
              <option value="all" >All Users</option>
              <option value="contact" >Contacts by Users</option>
              <option value="slot_booking">Slot Booking Users</option>
              <option value="program_booking">Program Booking Users</option>
              <option value="temp_booking">Temporary Booking Users</option>

            </select>
          </div>
<!--           <input id="party" type="datetime-local" name="partydate" value="2017-06-01T08:30" required>
 -->          <!--   <div class="item">
              <p>Reason for mail</p>
              <select name="reason" style="margin-bottom: 20px;" required>
                <option selected value="" disabled selected>None</option>
                <option value="Corona Updates" >Corona Updates</option>
                <option value="Marketing Mail">Marketing Mail</option>
                <option value="Offers Mail">Offer Mail</option>
              </select>
            </div> -->
          <input id="subject" type="text" name="subject" placeholder="Subject for Mail" required>
         
          <%= text_area_tag :template_body, '', cols: 80, id: "page", required: true %>
          <p id="editor-error" style="color: red"></p>
        </div>

        <button type="submit" href="/">Submit</button>
      <% end %>
    </div>
    <script type="text/javascript">
      var $ = jQuery.noConflict();
      $(document).ready(function(){
         CKEDITOR.plugins.addExternal('justify', "/assets/ckeditor/plugins/justify/plugin.js");
         CKEDITOR.plugins.addExternal('colorbutton', "/assets/ckeditor/plugins/colorbutton/plugin.js");
         CKEDITOR.plugins.addExternal('panelbutton', "/assets/ckeditor/plugins/panelbutton/plugin.js");
         CKEDITOR.replace('page', {"customConfig":"/assets/ckeditor/config.js"});
      })
      $('#template-model').change(function(){
        var selectedTemplate = $(this).val();
        if(selectedTemplate == 'None'){
          CKEDITOR.instances['page'].setData('');
        }
        else{
          $.ajax({
            type: 'GET',
            dataType: 'script',
            url: '/emailer/template',
            data: {template_id: selectedTemplate}
          })
        } 
      })
      $('#mail-form').submit(function(e){
          var formValidate = true;
          $("#editor-error").html("");
          var editorVal = CKEDITOR.instances['page'].getData()
          if(!(editorVal.length>0)){
              $("#editor-error").html("*Mail template is required.");
              formValidate = false;
          }
          return formValidate;
      })
    </script>
  </body>
</html>
