<%= render partial: 'shared/header' %>


<section class="breadcrumb-section set-bg spad" data-setbg="assets/about-bread.jpg">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="breadcrumb-text">
<h2>Our Gallery</h2>
<div class="breadcrumb-controls">
<a href="#"><i class="fa fa-home"></i> Home</a>
<span>Gallery</span>
</div>
</div>
</div>
</div>
</div>
</section>


<section class="gallery-section spad">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="gallery-controls">
<ul>
<li class="active" data-filter="*">All GALLERY</li>
<li data-filter=".crossfit">Crossfit</li>
<li data-filter=".workout">Workout</li>
<li data-filter=".gym">GYM</li>
</ul>
</div>
</div>
</div>
<div class="row gallery-filter">
<div class="col-lg-4 col-sm-6 mix crossfit workout">
<div class="gallery-item">
<img src="assets/gallery/gallery-1.jpg" " alt="">
<div class="gi-hover-warp">
<div class="gi-hover">
<a href="assets/gallery/gallery-1.jpg" class="image-popup"><i class="fa fa-search-plus"></i></a>
<a href="#"><i class="fa fa-chain"></i></a>
<h6>Time to Try a Bodyweight Workout <span>Run, Walk, Swimming</span></h6>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-sm-6 mix workout gym">
<div class="gallery-item">
<img src="assets/gallery/gallery-2.jpg" " alt="">
<div class="gi-hover-warp">
<div class="gi-hover">
<a href="assets/gallery/gallery-2.jpg" class="image-popup"><i class="fa fa-search-plus"></i></a>
<a href="#"><i class="fa fa-chain"></i></a>
<h6>Time to Try a Bodyweight Workout <span>Run, Walk, Swimming</span></h6>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-sm-6 mix workout">
<div class="gallery-item">
<img src="assets/gallery/gallery-3.jpg" " alt="">
<div class="gi-hover-warp">
<div class="gi-hover">
<a href="assets/gallery/gallery-3.jpg" class="image-popup"><i class="fa fa-search-plus"></i></a>
<a href="#"><i class="fa fa-chain"></i></a>
<h6>Time to Try a Bodyweight Workout <span>Run, Walk, Swimming</span></h6>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-sm-6 mix gym">
<div class="gallery-item">
<img src="assets/gallery/gallery-4.jpg" " alt="">
<div class="gi-hover-warp">
<div class="gi-hover">
<a href="assets/gallery/gallery-4.jpg" class="image-popup"><i class="fa fa-search-plus"></i></a>
<a href="#"><i class="fa fa-chain"></i></a>
<h6>Time to Try a Bodyweight Workout <span>Run, Walk, Swimming</span></h6>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-sm-6 mix crossfit">
<div class="gallery-item">
<img src="assets/gallery/gallery-5.jpg" " alt="">
<div class="gi-hover-warp">
<div class="gi-hover">
<a href="assets/gallery/gallery-5.jpg" class="image-popup"><i class="fa fa-search-plus"></i></a>
<a href="#"><i class="fa fa-chain"></i></a>
<h6>Time to Try a Bodyweight Workout <span>Run, Walk, Swimming</span></h6>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-sm-6 mix gym crossfit">
<div class="gallery-item">
<img src="assets/gallery/gallery-6.jpg" " alt="">
<div class="gi-hover-warp">
<div class="gi-hover">
<a href="assets/gallery/gallery-6.jpg" class="image-popup"><i class="fa fa-search-plus"></i></a>
<a href="#"><i class="fa fa-chain"></i></a>
<h6>Time to Try a Bodyweight Workout <span>Run, Walk, Swimming</span></h6>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-sm-6 mix workout">
<div class="gallery-item">
<img src="assets/gallery/gallery-7.jpg" " alt="">
<div class="gi-hover-warp">
<div class="gi-hover">
<a href="assets/gallery/gallery-7.jpg" class="image-popup"><i class="fa fa-search-plus"></i></a>
<a href="#"><i class="fa fa-chain"></i></a>
<h6>Time to Try a Bodyweight Workout <span>Run, Walk, Swimming</span></h6>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-sm-6 mix crossfit gym">
<div class="gallery-item">
<img src="assets/gallery/gallery-8.jpg" " alt="">
<div class="gi-hover-warp">
<div class="gi-hover">
<a href="assets/gallery/gallery-8.jpg" class="image-popup"><i class="fa fa-search-plus"></i></a>
 <a href="#"><i class="fa fa-chain"></i></a>
<h6>Time to Try a Bodyweight Workout <span>Run, Walk, Swimming</span></h6>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-sm-6 mix crossfit gym workout">
<div class="gallery-item">
<img src="assets/gallery/gallery-9.jpg" " alt="">
<div class="gi-hover-warp">
<div class="gi-hover">
<a href="assets/gallery/gallery-9.jpg" class="image-popup"><i class="fa fa-search-plus"></i></a>
<a href="#"><i class="fa fa-chain"></i></a>
<h6>Time to Try a Bodyweight Workout <span>Run, Walk, Swimming</span></h6>
</div>
</div>
</div>
</div>
</div>
</div>
</section>


<%= render partial: 'shared/footer' %>