  <main class="page payment-page">
    <section class="payment-form dark">
      <div class="container">
        <div class="block-heading">
          <h2 style="color: #e16521">Payment</h2>
          <p style="color: #f50909"><b>Please provide same email and mobile number on Checkout page for Authentication.</b> </p>
        </div>
        <%= form_for @temp_booking, url: temp_bookings_path, remote: true, html: {id: "checkout-form"} do |f| %>
          <%= hidden_field_tag :id, @temp_booking.id %>
          <%= f.hidden_field :booking_type %>
          <%= f.hidden_field :amount %>
          <%= f.hidden_field :booking_date %>
          <%= f.hidden_field :booking_time %>
          <div class="products">
            <h3 class="title">Checkout</h3>
            <% if @temp_booking.booking_type == 'slot_booking' %>
              <div class="item">
                <span class="price"><%= @temp_booking.booking_date %> | <%= @temp_booking.booking_time %></span>
                <p class="item-name">Personal sconsultation</p>
                <p class="item-description">with Shehroz 30 minutes @Rs 300</p>
              </div>
              <% else %>
              <div class="item">
                <span class="price"><%= @temp_booking.booking_date.strftime("%B %e %Y") %> | <%= @temp_booking.booking_time  %></span>
                <p class="item-name"><%= @temp_booking.heading %></p>
                <p class="item-description"><%= @temp_booking.desc %></p>
              </div>
            <% end %>
            <div class="total">Total<span class="price"><%= @temp_booking.amount %></span></div>
          </div>
          <div class="card-details">
            <h3 class="title">Your Personal Information</h3>
            <div class="row">
              <div class="form-group col-sm-6">
                <label for="card-holder">Full Name</label>
                <%= f.text_field :name, class: "form-control", placeholder: "Your Full Name", value: nil %>
              </div>      

              <div class="form-group col-sm-6">
                <label for="card-holder">Phone Number</label>
                  <%= f.text_field :phone, class: "form-control", placeholder: "Active Mobile Number", maxlength: 10, value: nil %>
              </div>

              <div class="form-group col-sm-12">
                <label for="card-number">Email Address</label>
                <%= f.text_field :email, class: "form-control", placeholder: "Your Email Address", value: nil %>
              </div>
              
              <div class="form-group col-sm-12">
                <input type="submit" class="btn btn-primary btn-block" style="background-color: #e16521; border-color: #e16521" id="rzp-button1" value="Proceed">
                  <div class="text-center" id="razorpay-btn-div" style="display: none">
                    <!-- Razor pay page code -->

                   <!--  <div class="razorpay-embed-btn" data-url="https://pages.razorpay.com/pl_F7MbxxydiVt0ZT/view" data-text="Pay Now" data-color="#e16521" data-size="large">
                      <script>
                        (function(){
                          var d=document; var x=!d.getElementById('razorpay-embed-btn-js')
                         if(x){ var s=d.createElement('script'); s.defer=!0;s.id='razorpay-embed-btn-js';
                          s.src='https://cdn.razorpay.com/static/embed_btn/bundle.js';d.body.appendChild(s);} else{var rzp=window['__rzp__'];
                         rzp && rzp.init && rzp.init()}})();
                      </script>
                    </div> -->


                      <!-- Live -->
                      <div class="razorpay-embed-btn" data-url="<%= @temp_booking.payment_link %>" data-text="Pay Now" data-color="#e16521" data-size="large">
                        <script>
                          (function(){
                            var d=document; var x=!d.getElementById('razorpay-embed-btn-js')
                            if(x){ var s=d.createElement('script'); s.defer=!0;s.id='razorpay-embed-btn-js';
                            s.src='https://cdn.razorpay.com/static/embed_btn/bundle.js';d.body.appendChild(s);} else{var rzp=window['__rzp__'];
                            rzp && rzp.init && rzp.init()}})();
                        </script>
                      </div>
    
                    <!-- Razor pay page code ends -->
                  </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </section>
  </main>