<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
	<!--[if gte mso 9]>
	<xml>
		<o:OfficeDocumentSettings>
		<o:AllowPNG/>
		<o:PixelsPerInch>96</o:PixelsPerInch>
		</o:OfficeDocumentSettings>
	</xml>
	<![endif]-->
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="format-detection" content="date=no" />
	<meta name="format-detection" content="address=no" />
	<meta name="format-detection" content="telephone=no" />
	<link href="https://fonts.googleapis.com/css?family=Merriweather:400,400i,700,700i|Muli:400,400i,700,700i" rel="stylesheet" />

	<title>*|MC:SUBJECT|*</title>
	

	<style type="text/css" media="screen">
		[style*="Muli"] { font-family: ''Muli'', Arial, sans-serif !important; }
		[style*="Merriweather"] { font-family: ''Merriweather'', Georgia, serif !important; }

		/* Linked Styles */
		body { padding:0 !important; margin:0 !important; display:block !important; min-width:100% !important; width:100% !important; background:#f3f3f3; -webkit-text-size-adjust:none }
		a { color:#acacac; text-decoration:none }
		p { padding:0 !important; margin:0 !important } 
		img { -ms-interpolation-mode: bicubic; /* Allow smoother rendering of resized image in Internet Explorer */ }
		.text-top a { color: #000000; }

		/* Mobile styles */
		@media only screen and (max-device-width: 480px), only screen and (max-width: 480px) {
			.mobile-shell { width: 100% !important; min-width: 100% !important; }
			.center { margin: 0 auto !important; }
			.left { margin-right: auto !important; }

			.h6-right,
			.text-right,
			.text-date3-right { text-align: left !important; }
			.row30-2 { padding: 30px 15px 30px 15px !important; }
			.pl18 { padding-left: 0px !important; }
			.pr18 { padding-right: 0px !important; }
			.text-footer2,
			.text-footer-r,
			.h6-m-center { text-align: center !important; }
			
			.row5-30,
			.row4-30,
			.separator1 { padding: 0px 0px 0px 0px !important; }
			.separator2 { padding: 30px 0px 0px 0px !important; }
			.bottom-link { padding: 20px 0px 30px 0px !important; }
			.section,
			.bar { padding: 15px 15px 15px 15px !important; }
			.d30 { padding-top: 0px !important; }
			.pb30m { padding-bottom: 0px !important; }
			.pb60m { padding-bottom: 0px !important; }
			.item-img img { width: 90px !important; height: auto !important; }
			
			.row30 { padding: 20px 0px 20px 0px !important; }
			.row2-30 { padding: 20px 0px 20px 0px !important; }
			.header,
			.section30 { padding: 30px 15px 30px 15px !important; }
			.section5 { padding: 0px 0px 30px 0px !important; }
			.section3 { padding: 0px 15px 30px 15px !important; }
			.section6 { padding: 0px 0px 30px 0px !important; }

			.td { width: 100% !important; min-width: 100% !important; }

			.text-mc,
			.text-top,
			.h2-header,
			.text-top2,
			.text-link-r,
			.h2-m-center,
			.img-m-center,
			.img-m-center2,
			.text-right-mc,
			.text-date-m-center { text-align: center !important; }

			.m-auto { height: auto !important; }
			.auto { width: 120px !important; }

			.mobile-br-5 { height: 5px !important; }
			.mobile-br-10 { height: 10px !important; }
			.mobile-br-15 { height: 15px !important; }
			.mobile-br-25 { height: 25px !important; }
			.mobile-br-35 { height: 35px !important; }
		
			.m-td,
			.m-td-top,
			.m-td-top-dir,
			.hide-for-mobile { display: none !important; width: 0 !important; height: 0 !important; font-size: 0 !important; line-height: 0 !important; min-height: 0 !important; }

			.mobile-block { display: block !important; }

			.fluid-img img { width: 100% !important; max-width: 100% !important; height: auto !important; }

			.column,
			.column-top,
			.column-dir-top,
			.column-bottom,
			.column-dir { float: left !important; width: 100% !important; display: block !important; }
			.m-td { width: 15px !important; }
		}
	</style>
</head>
<body class="body" style="padding:0 !important; margin:0 !important; display:block !important; min-width:100% !important; width:100% !important; background:#f3f3f3; -webkit-text-size-adjust:none">
	<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f3f3f3">
		<tr>
			<td align="center" valign="top">
				<table width="650" border="0" cellspacing="0" cellpadding="0" class="mobile-shell">
					<tr>
						<td class="td" style="width:650px; min-width:650px; font-size:0pt; line-height:0pt; padding:30px 0px 30px 0px; margin:0; font-weight:normal; Margin:0">
							<!-- Header -->
							<table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td>
										<!-- Top Bar -->
										<table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tr>
												<th class="column-top" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top; Margin:0">
													<table width="100%" border="0" cellspacing="0" cellpadding="0">
														<tr>
															<td class="text-top" style="color:#000000; font-family:Arial,sans-serif, ''Muli''; font-size:11px; line-height:16px; text-align:left"><div mc:edit="text_1">Pre-header goes here</div></td>
														</tr>
													</table>
												</th>
												<th class="column-top" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top; Margin:0" width="150">
													<table width="100%" border="0" cellspacing="0" cellpadding="0">
														<tr>
															<td align="right">
																<div style="font-size:0pt; line-height:0pt;" class="mobile-br-15"></div>

																<table class="center" border="0" cellspacing="0" cellpadding="0">
																	<tr>
																		<td class="text-top" style="color:#000000; font-family:Arial,sans-serif, ''Muli''; font-size:11px; line-height:16px; text-align:left" width="17">+</td>
																		<td class="text-top2" style="color:#000000; font-family:Georgia, serif, ''Merriweather''; font-size:11px; line-height:16px; text-align:right"><div mc:edit="text_2"><a href="*|ARCHIVE|*" target="_blank" class="link-black-u" style="color:#000001; text-decoration:underline"><span class="link-black-u" style="color:#000001; text-decoration:underline">View online</span></a></div></td>
																	</tr>
																</table>
															</td>
														</tr>
													</table>
												</th>
											</tr>
										</table>
										<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="15" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

										<!-- END Top Bar -->
										<!-- Header -->
										<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
											<tr>
												<td>
													<!-- Columns -->
													<table width="100%" border="0" cellspacing="0" cellpadding="0">
														<tr>
															<th class="column-top" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top; Margin:0">
																<table width="100%" border="0" cellspacing="0" cellpadding="0">
																	<tr>
																		<td class="content-spacing" width="30"></td>
																		<td style="padding-top: 30px;">
																			<div class="img" style="font-size:0pt; line-height:0pt; text-align:left"><div class="img-m-center" style="font-size:0pt; line-height:0pt"><a href="#" target="_blank"><img src="<%= APP_ENV[''URL''] %>/assets/mailer/logo3.jpg" mc:edit="image_1" border="0" width="101" style="max-width:101px" height="104" alt="" /></a></div></div>
																			<table width="100%" border="0" cellspacing="0" cellpadding="0">
																				<tr>
																					<td height="50" class="m-td" style="font-size:0pt; line-height:0pt; text-align:left"></td>
																				</tr>
																				<tr>
																					<td height="20"></td>
																				</tr>
																				<tr>
																					<td>
																						<table width="100%" border="0" cellspacing="0" cellpadding="0">
																							<tr>
																								<td class="h2-header" style="color:#000000; font-family:Georgia, serif, ''Merriweather''; font-size:30px; line-height:38px; text-align:right; font-weight:bold; padding:20px 0px 20px 0px"><div mc:edit="text_3">Lorem ipsum dolor sit consectetur</div></td>
																								<td class="m-td" style="font-size:0pt; line-height:0pt; text-align:left" width="20"></td>
																								<td class="m-td" style="font-size:0pt; line-height:0pt; text-align:left" width="1" bgcolor="#000000"></td>
																							</tr>
																						</table>
																					</td>
																				</tr>
																			</table>
																		</td>
																		<td class="content-spacing" width="20"></td>
																	</tr>
																</table>
															</th>
															<th class="column-top" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top; Margin:0" width="294">
																<table width="100%" border="0" cellspacing="0" cellpadding="0">
																	<tr>
																		<td class="m-td" style="font-size:0pt; line-height:0pt; text-align:left">
																			<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#e3e3e3">
																				<tr>
																					<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="70" height="30" bgcolor="#ffffff"></td>
																					<td></td>
																				</tr>
																			</table>
																		</td>
																	</tr>
																	<tr>
																		<td>
																			<div class="fluid-img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="<%= APP_ENV[''URL''] %>/assets/mailer/image1.jpg" mc:edit="image_2" border="0" width="294" style="max-width:294px" height="388" alt="" /></div>
																		</td>
																	</tr>
																</table>
															</th>
															<th class="m-td-top" style="font-size:0pt; line-height:0pt; text-align:left; vertical-align:top" width="30" bgcolor="#ffffff">
																<table width="100%" border="0" cellspacing="0" cellpadding="0">
																	<tr>
																		<td class="m-auto" height="328" bgcolor="#e3e3e3"></td>
																	</tr>
																</table>
															</th>
														</tr>
													</table>
													<!-- END Columns -->
							
													<!-- Content -->
													<table width="100%" border="0" cellspacing="0" cellpadding="0">
														<tr>
															<td class="section30" style="padding:30px 30px 0px 30px">
																<table width="100%" border="0" cellspacing="0" cellpadding="0">
																	<tr>
																		<td style="padding-bottom: 30px;">
																			<table width="100%" border="0" cellspacing="0" cellpadding="0">
																				<tr>
																					<th class="column-top" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top; Margin:0">
																						<table width="100%" border="0" cellspacing="0" cellpadding="0">
																							<tr>
																								<td><div class="text" style="color:#000000; font-family:Arial,sans-serif, ''Muli''; font-size:13px; line-height:24px; text-align:left" mc:edit="text_4">Curabitur tincidunt tempus lorem, at rutrum quam lobortis nec. <span class="hide-for-mobile"><br /></span>Vestibulum non ipsum interdum.</div><div style="font-size:0pt; line-height:0pt;" class="mobile-br-15"></div>
</td>
																							</tr>
																						</table>
																					</th>
																					<th class="column-top" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top; Margin:0" width="160">
																						<table width="100%" border="0" cellspacing="0" cellpadding="0">
																							<tr>
																								<td align="right">
																									<table class="left" border="0" cellspacing="0" cellpadding="0">
																										<tr>
																											<td width="25" class="img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="<%= APP_ENV[''URL''] %>/assets/mailer/ico_plus.jpg" mc:edit="image_3" border="0" width="10" style="max-width:10px" height="10" alt="" /></td>
																											<td class="text-link" style="color:#000000; font-family:Georgia, serif, ''Merriweather''; font-size:13px; line-height:24px; text-align:left; font-weight:bold"><div mc:edit="text_5"><strong><a href="#" target="_blank" class="link-black-u" style="color:#000001; text-decoration:underline"><span class="link-black-u" style="color:#000001; text-decoration:underline">Find out more</span></a></strong></div></td>
																										</tr>
																									</table>
																								</td>
																							</tr>
																						</table>
																					</th>
																				</tr>
																			</table>
																		</td>
																	</tr>
																	<tr>
																		<td><table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#e3e3e3" class="border" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td bgcolor="#e3e3e3" height="1" class="border" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>
</td>
																	</tr>
																</table>
															</td>
														</tr>
													</table>
													<!-- END content -->
												</td>
											</tr>
										</table>
										<!-- END Header -->
									</td>
								</tr>
							</table>
							<!-- END Header -->

							<!-- Section 1 -->
							<div mc:repeatable="Select" mc:variant="Section 1">
								<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
									<tr>
										<td class="section" style="padding:30px 0px 10px 0px">
											<table width="100%" border="0" cellspacing="0" cellpadding="0">
												<tr>
													<td class="h2-center" style="color:#000000; font-family:Georgia, serif, ''Merriweather''; font-size:30px; line-height:34px; text-align:center; font-weight:bold"><div mc:edit="text_6">What We Offer</div><div style="font-size:0pt; line-height:0pt;" class="mobile-br-15"></div>
</td>
												</tr>
												<tr>
													<td class="pb20" style="padding-bottom:20px"></td>
												</tr>
											</table>
											<table width="100%" border="0" cellspacing="0" cellpadding="0">
												<tr>
													<td class="row30" style="padding:30px 30px 30px 30px">
														<table width="100%" border="0" cellspacing="0" cellpadding="0">
															<tr>
																<th class="column-top" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top; Margin:0" width="186">
																	<table width="100%" border="0" cellspacing="0" cellpadding="0">
																		<tr>
																			<td style="padding-bottom: 16px;"><div class="img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="<%= APP_ENV[''URL''] %>/assets/mailer/ico_trends.jpg" mc:edit="image_4" border="0" width="34" style="max-width:34px" height="34" alt="" /></div></td>
																		</tr>
																		<tr>
																			<td style="padding-bottom: 18px;">
																				<table width="100%" border="0" cellspacing="0" cellpadding="0">
																					<tr>
																						<td width="18" class="img" style="font-size:0pt; line-height:0pt; text-align:left"></td>
																						<td width="2" bgcolor="#000000" class="img" style="font-size:0pt; line-height:0pt; text-align:left"></td>
																						<td width="18" class="img" style="font-size:0pt; line-height:0pt; text-align:left"></td>
																						<td class="h5" style="color:#000000; font-family:Georgia, serif, ''Merriweather''; font-size:22px; line-height:26px; text-align:left; font-weight:bold"><div mc:edit="text_7">Trends</div></td>
																					</tr>
																				</table>
																			</td>
																		</tr>
																		<tr>
																			<td>
																				<table width="100%" border="0" cellspacing="0" cellpadding="0">
																					<tr>
																						<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="37"></td>
																						<td style="padding-bottom: 16px;">
																							<div class="text" style="color:#000000; font-family:Arial,sans-serif, ''Muli''; font-size:13px; line-height:24px; text-align:left" mc:edit="text_8">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</div>
																						</td>
																					</tr>
																				</table>
																			</td>
																		</tr>
																		<tr>
																			<td>
																				<table class="center" border="0" cellspacing="0" cellpadding="0">
																					<tr>
																						<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="27"><img src="<%= APP_ENV[''URL''] %>/assets/mailer/ico_plus.jpg" mc:edit="image_5" border="0" width="10" style="max-width:10px" height="10" alt="" /></td>
																						<td class="text-link3" style="color:#acacac; font-family:Georgia, serif, ''Merriweather''; font-size:11px; line-height:16px; text-align:left; font-weight:bold"><div mc:edit="text_9"><a href="#" target="_blank" class="link-u" style="color:#acacac; text-decoration:underline"><span class="link-u" style="color:#acacac; text-decoration:underline">Read more</span></a></div></td>
																					</tr>
																				</table>
																			</td>
																		</tr>
																	</table>
																</th>
																<th class="column" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; Margin:0" width="10"><div style="font-size:0pt; line-height:0pt;" class="mobile-br-25"></div>
</th>
																<th class="column-top" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top; Margin:0" width="186">
																	<table width="100%" border="0" cellspacing="0" cellpadding="0">
																		<tr>
																			<td style="padding-bottom: 16px;"><div class="img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="<%= APP_ENV[''URL''] %>/assets/mailer/ico_lines.jpg" mc:edit="image_6" border="0" width="37" style="max-width:37px" height="34" alt="" /></div></td>
																		</tr>
																		<tr>
																			<td style="padding-bottom: 18px;">
																				<table width="100%" border="0" cellspacing="0" cellpadding="0">
																					<tr>
																						<td width="18" class="img" style="font-size:0pt; line-height:0pt; text-align:left"></td>
																						<td width="2" bgcolor="#000000" class="img" style="font-size:0pt; line-height:0pt; text-align:left"></td>
																						<td width="18" class="img" style="font-size:0pt; line-height:0pt; text-align:left"></td>
																						<td class="h5" style="color:#000000; font-family:Georgia, serif, ''Merriweather''; font-size:22px; line-height:26px; text-align:left; font-weight:bold"><div mc:edit="text_10">Lines</div></td>
																					</tr>
																				</table>
																			</td>
																		</tr>
																		<tr>
																			<td>
																				<table width="100%" border="0" cellspacing="0" cellpadding="0">
																					<tr>
																						<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="37"></td>
																						<td style="padding-bottom: 16px;">
																							<div class="text" style="color:#000000; font-family:Arial,sans-serif, ''Muli''; font-size:13px; line-height:24px; text-align:left" mc:edit="text_11">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</div>
																						</td>
																					</tr>
																				</table>
																			</td>
																		</tr>
																		<tr>
																			<td>
																				<table class="center" border="0" cellspacing="0" cellpadding="0">
																					<tr>
																						<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="27"><img src="<%= APP_ENV[''URL''] %>/assets/mailer/ico_plus.jpg" mc:edit="image_7" border="0" width="10" style="max-width:10px" height="10" alt="" /></td>
																						<td class="text-link3" style="color:#acacac; font-family:Georgia, serif, ''Merriweather''; font-size:11px; line-height:16px; text-align:left; font-weight:bold"><div mc:edit="text_12"><a href="#" target="_blank" class="link-u" style="color:#acacac; text-decoration:underline"><span class="link-u" style="color:#acacac; text-decoration:underline">Read more</span></a></div></td>
																					</tr>
																				</table>
																			</td>
																		</tr>
																	</table>
																</th>
																<th class="column" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; Margin:0" width="10"><div style="font-size:0pt; line-height:0pt;" class="mobile-br-25"></div>
</th>
																<th class="column-top" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top; Margin:0">
																	<table width="100%" border="0" cellspacing="0" cellpadding="0">
																		<tr>
																			<td style="padding-bottom: 16px;"><div class="img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="<%= APP_ENV[''URL''] %>/assets/mailer/ico_discounts.jpg" mc:edit="image_8" border="0" width="37" style="max-width:37px" height="34" alt="" /></div></td>
																		</tr>
																		<tr>
																			<td style="padding-bottom: 18px;">
																				<table width="100%" border="0" cellspacing="0" cellpadding="0">
																					<tr>
																						<td width="18" class="img" style="font-size:0pt; line-height:0pt; text-align:left"></td>
																						<td width="2" bgcolor="#000000" class="img" style="font-size:0pt; line-height:0pt; text-align:left"></td>
																						<td width="18" class="img" style="font-size:0pt; line-height:0pt; text-align:left"></td>
																						<td class="h5" style="color:#000000; font-family:Georgia, serif, ''Merriweather''; font-size:22px; line-height:26px; text-align:left; font-weight:bold"><div mc:edit="text_13">Discounts</div></td>
																					</tr>
																				</table>
																			</td>
																		</tr>
																		<tr>
																			<td>
																				<table width="100%" border="0" cellspacing="0" cellpadding="0">
																					<tr>
																						<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="37"></td>
																						<td style="padding-bottom: 16px;">
																							<div class="text" style="color:#000000; font-family:Arial,sans-serif, ''Muli''; font-size:13px; line-height:24px; text-align:left" mc:edit="text_14">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</div>
																						</td>
																					</tr>
																				</table>
																			</td>
																		</tr>
																		<tr>
																			<td>
																				<table class="center" border="0" cellspacing="0" cellpadding="0">
																					<tr>
																						<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="27"><img src="<%= APP_ENV[''URL''] %>/assets/mailer/ico_plus.jpg" mc:edit="image_9" border="0" width="10" style="max-width:10px" height="10" alt="" /></td>
																						<td class="text-link3" style="color:#acacac; font-family:Georgia, serif, ''Merriweather''; font-size:11px; line-height:16px; text-align:left; font-weight:bold"><div mc:edit="text_15"><a href="#" target="_blank" class="link-u" style="color:#acacac; text-decoration:underline"><span class="link-u" style="color:#acacac; text-decoration:underline">Read more</span></a></div></td>
																					</tr>
																				</table>
																			</td>
																		</tr>
																	</table>
																</th>
															</tr>
														</table>
													</td>
												</tr>
											</table>
											<table width="100%" border="0" cellspacing="0" cellpadding="0">
												<tr>
													<td class="bottom-link" style="padding:20px 15px 0px 15px" align="center">
														<table class="center" border="0" cellspacing="0" cellpadding="0">
															<tr>
																<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="27"><img src="<%= APP_ENV[''URL''] %>/assets/mailer/ico_plus.jpg" mc:edit="image_10" border="0" width="10" style="max-width:10px" height="10" alt="" /></td>
																<td class="text-link" style="color:#000000; font-family:Georgia, serif, ''Merriweather''; font-size:13px; line-height:24px; text-align:left; font-weight:bold"><div mc:edit="text_16"><a href="#" target="_blank" class="link-black-u" style="color:#000001; text-decoration:underline"><span class="link-black-u" style="color:#000001; text-decoration:underline">Find out more</span></a></div></td>
															</tr>
														</table>
													</td>
												</tr>
												<tr>
													<td class="separator1" style="padding:30px 30px 0px 30px"><table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#e3e3e3" class="border" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td bgcolor="#e3e3e3" height="1" class="border" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>
</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</div>
							<!-- END Section 1 -->

							<!-- Section 2 -->
							<div mc:repeatable="Select" mc:variant="Section 2">
								<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
									<tr>
										<td class="section" style="padding:30px 0px 10px 0px">
											<table width="100%" border="0" cellspacing="0" cellpadding="0">
												<tr>
													<th class="column-top" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top; Margin:0" width="230">
														<table width="100%" border="0" cellspacing="0" cellpadding="0">
															<tr>
																<td class="m-td" style="font-size:0pt; line-height:0pt; text-align:left" width="30"></td>
																<td class="pt30" style="padding-top:30px">
																	<table width="100%" border="0" cellspacing="0" cellpadding="0">
																		<tr>
																			<td height="180" class="m-auto"><div class="h4" style="color:#000000; font-family:Georgia, serif, ''Merriweather''; font-size:26px; line-height:30px; text-align:left; font-weight:bold"><div mc:edit="text_17">Quisque scelerisque fringilla elementum</div></div></td>
																		</tr>
																		<tr>
																			<td style="padding-bottom: 32px;"></td>
																		</tr>
																		<tr>
																			<td><div class="text" style="color:#000000; font-family:Arial,sans-serif, ''Muli''; font-size:13px; line-height:24px; text-align:left" mc:edit="text_18">Donec eu dignissim lectus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce vestibulum lacus hendrerit efficitur mollis.  Vestibulum accumsan, tortor ac tempor egestas, tortor turpis elementum enim, id laoreet neque felis id dui.</div></td>
																		</tr>
																	</table>
																</td>
																<td class="m-td" style="font-size:0pt; line-height:0pt; text-align:left" width="5"></td>
															</tr>
														</table>
													</th>
													<th class="column-top" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top; Margin:0" width="200">
														<table width="100%" border="0" cellspacing="0" cellpadding="0">
															<tr>
																<td class="m-td" style="font-size:0pt; line-height:0pt; text-align:left" width="5"></td>
																<td class="pt30" style="padding-top:30px">
																	<table width="100%" border="0" cellspacing="0" cellpadding="0">
																		<tr>
																			<td class="img" style="font-size:0pt; line-height:0pt; text-align:left"><div class="img-m-center" style="font-size:0pt; line-height:0pt"><img src="<%= APP_ENV[''URL''] %>/assets/mailer/image5.jpg" mc:edit="image_11" border="0" width="190" style="max-width:190px" height="180" alt="" /></div></td>
																		</tr>
																		<tr>
																			<td style="padding-bottom: 32px;"></td>
																		</tr>
																		<tr>
																			<td><div class="text" style="color:#000000; font-family:Arial,sans-serif, ''Muli''; font-size:13px; line-height:24px; text-align:left" mc:edit="text_19">Pellentesque hendrerit nibh scelerisque enim auctor varius. Ut euismod facilisis nisi at eleifend. Integer ut fermentum tellus, non finibus.</div></td>
																		</tr>
																		<tr>
																			<td style="padding-bottom: 22px;"></td>
																		</tr>
																		<tr>
																			<td>
																				<table class="left" border="0" cellspacing="0" cellpadding="0">
																					<tr>
																						<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="27"><img src="<%= APP_ENV[''URL''] %>/assets/mailer/ico_plus.jpg" mc:edit="image_12" border="0" width="10" style="max-width:10px" height="10" alt="" /></td>
																						<td class="text-link" style="color:#000000; font-family:Georgia, serif, ''Merriweather''; font-size:13px; line-height:24px; text-align:left; font-weight:bold"><div mc:edit="text_20"><a href="#" target="_blank" class="link-black-u" style="color:#000001; text-decoration:underline"><span class="link-black-u" style="color:#000001; text-decoration:underline">Read more</span></a></div></td>
																					</tr>
																				</table>
																			</td>
																		</tr>
																	</table>
																</td>
																<td class="m-td" style="font-size:0pt; line-height:0pt; text-align:left" width="5"></td>
															</tr>
														</table>
													</th>
													<th class="column-top" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top; Margin:0">
														<table width="100%" border="0" cellspacing="0" cellpadding="0">
															<tr>
																<td>
																	<div class="hide-for-mobile">
																		<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#e3e3e3">
																			<tr>
																				<td height="30" bgcolor="#ffffff" width="50"></td>
																				<td width="140"></td>
																			</tr>
																		</table>
																	</div>
																	<div style="font-size:0pt; line-height:0pt;" class="mobile-br-35"></div>

																	<table width="100%" border="0" cellspacing="0" cellpadding="0">
																		<tr>
																			<td class="m-td" style="font-size:0pt; line-height:0pt; text-align:left" width="5"></td>
																			<td class="img" style="font-size:0pt; line-height:0pt; text-align:left">
																				<div class="img-m-center" style="font-size:0pt; line-height:0pt"><img src="<%= APP_ENV[''URL''] %>/assets/mailer/image6.jpg" mc:edit="image_13" border="0" width="190" style="max-width:190px" height="440" alt="" /></div>
																			</td>
																			<td class="m-td-top" style="font-size:0pt; line-height:0pt; text-align:left; vertical-align:top" valign="top" width="30"><table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#e3e3e3" class="border" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td bgcolor="#e3e3e3" height="280" class="border" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>
</td>
																		</tr>
																	</table>
																</td>
															</tr>
														</table>
													</th>
												</tr>
											</table>
											<!-- Separator -->
											<table width="100%" border="0" cellspacing="0" cellpadding="0">
												<tr>
													<td class="m-td" style="font-size:0pt; line-height:0pt; text-align:left" width="30"></td>
													<td style="padding-top: 40px; border-bottom: 1px solid #e3e3e3;"></td>
													<td class="m-td" style="font-size:0pt; line-height:0pt; text-align:left" width="30"></td>
												</tr>
											</table>
											<!-- END Separator -->
										</td>
									</tr>
								</table>
							</div>
							<!-- END Section 2 -->

							<!-- Section 3 -->
							<div mc:repeatable="Select" mc:variant="Section 3">
								<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
									<tr>
										<td class="section" style="padding:30px 0px 10px 0px">
											<table width="100%" border="0" cellspacing="0" cellpadding="0">
												<tr>
													<td class="h2-center" style="color:#000000; font-family:Georgia, serif, ''Merriweather''; font-size:30px; line-height:34px; text-align:center; font-weight:bold"><div mc:edit="text_21">Quisque tincidunt pulvinar orci</div><div style="font-size:0pt; line-height:0pt;" class="mobile-br-15"></div>
</td>
												</tr>
												<tr>
													<td class="pb20" style="padding-bottom:20px"></td>
												</tr>
											</table>
											<table width="100%" border="0" cellspacing="0" cellpadding="0">
												<tr>
													<td class="m-td" style="font-size:0pt; line-height:0pt; text-align:left" width="30"></td>
													<td>
														<div class="hide-for-mobile">
															<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
																<tr>
																	<td bgcolor="#ffffff"></td>
																	<td height="30" width="590" bgcolor="#e3e3e3"></td>
																</tr>
															</table>
														</div>
														<table width="100%" border="0" cellspacing="0" cellpadding="0">
															<tr>
																<td class="fluid-img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="<%= APP_ENV[''URL''] %>/assets/mailer/image14.jpg" mc:edit="image_14" border="0" width="590" style="max-width:590px" height="190" alt="" /></td>
																<td class="m-td" style="font-size:0pt; line-height:0pt; text-align:left" valign="top" width="30"><div class="hide-for-mobile"><table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#e3e3e3" class="border" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td bgcolor="#e3e3e3" height="160" class="border" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>
</div></td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
											<!-- Two Columns -->
											<table width="100%" border="0" cellspacing="0" cellpadding="0">
												<tr>
													<td class="row30" style="padding:30px 30px 30px 30px">
														<table width="100%" border="0" cellspacing="0" cellpadding="0">
															<tr>
																<td class="m-td" style="font-size:0pt; line-height:0pt; text-align:left" width="22"></td>
																<td>
																	<table width="100%" border="0" cellspacing="0" cellpadding="0">
																		<tr>
																			<th class="column-top" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top; Margin:0" width="265">
																				<table width="100%" border="0" cellspacing="0" cellpadding="0">
																					<tr>
																						<td class="text" style="color:#000000; font-family:Arial,sans-serif, ''Muli''; font-size:13px; line-height:24px; text-align:left">
																							<div mc:edit="text_22">Quisque id gravida arcu, eget sodales risus. Cras nec porta lorem. Cras velit diam, lobortis aliquet vulputate a, blandit quis sem. Nunc convallis congue orci, ut commodo eros placerat id. Vivamus lacinia vulputate lacus, vel iaculis diam mattis id.</div>
																						</td>
																					</tr>
																				</table>
																			</th>
																			<th class="column" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; Margin:0" width="15"><div style="font-size:0pt; line-height:0pt;" class="mobile-br-15"></div>
</th>
																			<th class="column-top" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top; Margin:0" width="265">
																				<table width="100%" border="0" cellspacing="0" cellpadding="0">
																					<tr>
																						<td class="text" style="color:#000000; font-family:Arial,sans-serif, ''Muli''; font-size:13px; line-height:24px; text-align:left">
																							<div mc:edit="text_23">In efficitur lacinia nisl ac varius. Vestibulum nunc turpis, porttitor eu elit ullamcorper, tincidunt imperdiet diam. Vestibulum tristique tempor nibh in placerat. Aliquam erat volutpat.</div>
																						</td>
																					</tr>
																				</table>
																			</th>
																		</tr>
																	</table>
																</td>
																<td class="m-td" style="font-size:0pt; line-height:0pt; text-align:left" width="22"></td>
															</tr>
														</table>
														
													</td>
												</tr>
											</table>
											<!-- END Two Columns -->
											<table width="100%" border="0" cellspacing="0" cellpadding="0">
												<tr>
													<td class="bottom-link" style="padding:20px 15px 0px 15px" align="center">
														<table class="center" border="0" cellspacing="0" cellpadding="0">
															<tr>
																<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="27"><img src="<%= APP_ENV[''URL''] %>/assets/mailer/ico_plus.jpg" mc:edit="image_15" border="0" width="10" style="max-width:10px" height="10" alt="" /></td>
																<td class="text-link" style="color:#000000; font-family:Georgia, serif, ''Merriweather''; font-size:13px; line-height:24px; text-align:left; font-weight:bold"><div mc:edit="text_24"><a href="#" target="_blank" class="link-black-u" style="color:#000001; text-decoration:underline"><span class="link-black-u" style="color:#000001; text-decoration:underline">Find out more</span></a></div></td>
															</tr>
														</table>
													</td>
												</tr>
												<tr>
													<td class="separator1" style="padding:30px 30px 0px 30px"><table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#e3e3e3" class="border" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td bgcolor="#e3e3e3" height="1" class="border" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>
</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</div>
							<!-- END Section 3 -->
							
							<!-- Section 4 -->
							<div mc:repeatable="Select" mc:variant="Section 4">
								<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
									<tr>
										<td class="section" style="padding:30px 0px 10px 0px"> 
											<table width="100%" border="0" cellspacing="0" cellpadding="0">
												<tr>
													<td class="h2-center" style="color:#000000; font-family:Georgia, serif, ''Merriweather''; font-size:30px; line-height:34px; text-align:center; font-weight:bold"><div mc:edit="text_25">More Upcoming Events</div><div style="font-size:0pt; line-height:0pt;" class="mobile-br-15"></div>
</td>
												</tr>
												<tr>
													<td class="pb30" style="padding-bottom:30px"></td>
												</tr>
											</table>
											<table width="100%" border="0" cellspacing="0" cellpadding="0">
												<tr>
													<th class="column-top" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top; Margin:0" width="220">
														<table width="100%" border="0" cellspacing="0" cellpadding="0">
															<tr>
																<td>
																	<div class="hide-for-mobile">
																		<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
																			<tr>
																				<td height="30" width="190" bgcolor="#e3e3e3"></td>
																				<td bgcolor="#ffffff"></td>
																			</tr>
																		</table>
																	</div>
																	<table width="100%" border="0" cellspacing="0" cellpadding="0">
																		<tr>
																			<td class="m-td-top" style="font-size:0pt; line-height:0pt; text-align:left; vertical-align:top" width="30"><table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#e3e3e3" class="border" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td bgcolor="#e3e3e3" height="311" class="border" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>
</td>
																			<td class="img" style="font-size:0pt; line-height:0pt; text-align:left"><div class="img-m-center" style="font-size:0pt; line-height:0pt"><img src="<%= APP_ENV[''URL''] %>/assets/mailer/image10.jpg" mc:edit="image_16" border="0" width="190" style="max-width:190px" height="430" alt="" /></div></td>
																		</tr>
																	</table>
																	<div style="font-size:0pt; line-height:0pt;" class="mobile-br-35"></div>

																</td>
															</tr>
														</table>
													</th>
													<th class="column-top" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top; Margin:0">
														<table width="100%" border="0" cellspacing="0" cellpadding="0">
															<tr>
																<td>
																	<div mc:repeatable>
																		<!-- Row 1 -->
																		<table width="100%" border="0" cellspacing="0" cellpadding="0">
																			<tr>
																				<td class="row30" style="padding:30px 30px 30px 30px">
																					<table width="100%" border="0" cellspacing="0" cellpadding="0">
																						<tr>
																							<td valign="top">
																								<div class="text-date2" style="color:#000000; font-family:Georgia, serif, ''Merriweather''; font-size:30px; line-height:36px; text-align:left; font-weight:bold"><div mc:edit="text_26">31</div></div>
																								<div class="text-date2-month" style="color:#000000; font-family:Georgia, serif, ''Merriweather''; font-size:16px; line-height:20px; text-align:left; font-weight:bold"><div mc:edit="text_27">july</div></div>
																							</td>
																							<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="12"></td>
																							<td class="img-top" style="font-size:0pt; line-height:0pt; text-align:left; vertical-align:top" width="20"><img src="<%= APP_ENV[''URL''] %>/assets/mailer/date_dash.jpg" mc:edit="image_17" border="0" width="20" style="max-width:20px" height="16" alt="" /></td>
																							<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="12"></td>
																							<td valign="top">
																								<table width="100%" border="0" cellspacing="0" cellpadding="0">
																									<tr>
																										<td class="h5" style="color:#000000; font-family:Georgia, serif, ''Merriweather''; font-size:22px; line-height:26px; text-align:left; font-weight:bold"><div mc:edit="text_28">Sed maximus eleifend</div></td>
																									</tr>
																									<tr>
																										<td style="padding-bottom: 14px;"></td>
																									</tr>
																									<tr>
																										<td><div class="text" style="color:#000000; font-family:Arial,sans-serif, ''Muli''; font-size:13px; line-height:24px; text-align:left" mc:edit="text_29">Donec eu dignissim lectus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce vestibulum lacus hendrerit efficitur mollis.</div></td>
																									</tr>
																									<tr>
																										<td style="padding-bottom: 14px;"></td>
																									</tr>
																									<tr>
																										<td align="right">
																											<table class="left" border="0" cellspacing="0" cellpadding="0">
																												<tr>
																													<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="27"><img src="<%= APP_ENV[''URL''] %>/assets/mailer/ico_plus.jpg" mc:edit="image_18" border="0" width="10" style="max-width:10px" height="10" alt="" /></td>
																													<td class="text-link3-r" style="color:#acacac; font-family:Georgia, serif, ''Merriweather''; font-size:11px; line-height:16px; text-align:right; font-weight:bold"><div mc:edit="text_30"><a href="#" target="_blank" class="link-u" style="color:#acacac; text-decoration:underline"><span class="link-u" style="color:#acacac; text-decoration:underline">Read more</span></a></div></td>
																												</tr>
																											</table>
																										</td>
																									</tr>
																								</table>
																							</td>
																						</tr>
																					</table>
																					<table width="100%" border="0" cellspacing="0" cellpadding="0">
																						<tr>
																							<td style="padding-top: 30px; border-bottom: 1px solid #e8e8e8;"></td>
																						</tr>
																					</table>
																				</td>
																			</tr>
																		</table>
																		<!-- END Row 1 -->
																	</div>
																	<div mc:repeatable>
																		<!-- Row 2 -->
																		<table width="100%" border="0" cellspacing="0" cellpadding="0">
																			<tr>
																				<td class="row2-30" style="padding:0px 30px 30px 30px">
																					<table width="100%" border="0" cellspacing="0" cellpadding="0">
																						<tr>
																							<td valign="top">
																								<div class="text-date2" style="color:#000000; font-family:Georgia, serif, ''Merriweather''; font-size:30px; line-height:36px; text-align:left; font-weight:bold"><div mc:edit="text_31">02</div></div>
																								<div class="text-date2-month" style="color:#000000; font-family:Georgia, serif, ''Merriweather''; font-size:16px; line-height:20px; text-align:left; font-weight:bold"><div mc:edit="text_32">aug</div></div>
																							</td>
																							<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="12"></td>
																							<td class="img-top" style="font-size:0pt; line-height:0pt; text-align:left; vertical-align:top" width="20"><img src="<%= APP_ENV[''URL''] %>/assets/mailer/date_dash.jpg" mc:edit="image_19" border="0" width="20" style="max-width:20px" height="16" alt="" /></td>
																							<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="12"></td>
																							<td valign="top">
																								<table width="100%" border="0" cellspacing="0" cellpadding="0">
																									<tr>
																										<td class="h5" style="color:#000000; font-family:Georgia, serif, ''Merriweather''; font-size:22px; line-height:26px; text-align:left; font-weight:bold"><div mc:edit="text_33">Nam porttitor quam ac</div></td>
																									</tr>
																									<tr>
																										<td style="padding-bottom: 14px;"></td>
																									</tr>
																									<tr>
																										<td><div class="text" style="color:#000000; font-family:Arial,sans-serif, ''Muli''; font-size:13px; line-height:24px; text-align:left" mc:edit="text_34">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed tellus odio, gravida a ipsum ac, tristique accumsan tellus.</div></td>
																									</tr>
																									<tr>
																										<td style="padding-bottom: 14px;"></td>
																									</tr>
																									<tr>
																										<td align="right">
																											<table class="left" border="0" cellspacing="0" cellpadding="0">
																												<tr>
																													<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="27"><img src="<%= APP_ENV[''URL''] %>/assets/mailer/ico_plus.jpg" mc:edit="image_20" border="0" width="10" style="max-width:10px" height="10" alt="" /></td>
																													<td class="text-link3-r" style="color:#acacac; font-family:Georgia, serif, ''Merriweather''; font-size:11px; line-height:16px; text-align:right; font-weight:bold"><div mc:edit="text_35"><a href="#" target="_blank" class="link-u" style="color:#acacac; text-decoration:underline"><span class="link-u" style="color:#acacac; text-decoration:underline">Read more</span></a></div></td>
																												</tr>
																											</table>
																										</td>
																									</tr>
																								</table>
																							</td>
																						</tr>
																					</table>
																					<table width="100%" border="0" cellspacing="0" cellpadding="0">
																						<tr>
																							<td style="padding-top: 30px; border-bottom: 1px solid #e8e8e8;"></td>
																						</tr>
																					</table>
																				</td>
																			</tr>
																		</table>
																		<!-- END Row 2 -->
																	</div>
																</td>
															</tr>
														</table>
													</th>
												</tr>
											</table>
											<!-- link -->
											<table width="100%" border="0" cellspacing="0" cellpadding="0">
												<tr>
													<td align="center" class="bottom-link" style="padding:20px 15px 0px 15px">
														<table class="center" border="0" cellspacing="0" cellpadding="0">
															<tr>
																<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="27"><img src="<%= APP_ENV[''URL''] %>/assets/mailer/ico_plus.jpg" mc:edit="image_21" border="0" width="10" style="max-width:10px" height="10" alt="" /></td>
																<td class="text-link" style="color:#000000; font-family:Georgia, serif, ''Merriweather''; font-size:13px; line-height:24px; text-align:left; font-weight:bold"><div mc:edit="text_36"><a href="#" target="_blank" class="link-black-u" style="color:#000001; text-decoration:underline"><span class="link-black-u" style="color:#000001; text-decoration:underline">Find out more</span></a></div></td>
															</tr>
														</table>
													</td>
												</tr>
												<tr>
													<td class="separator1" style="padding:30px 30px 0px 30px"><table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#e3e3e3" class="border" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td bgcolor="#e3e3e3" height="1" class="border" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>
</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</div>
							<!-- END Section 4 -->

							<!-- Section 5 -->
							<div mc:repeatable="Select" mc:variant="Section 5">
								<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
									<tr>
										<td>
											<table width="100%" border="0" cellspacing="0" cellpadding="0">
												<tr>
													<td class="row30" style="padding:30px 30px 30px 30px">
														<div class="fluid-img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="<%= APP_ENV[''URL''] %>/assets/mailer/image15.jpg" mc:edit="image_22" border="0" width="590" style="max-width:590px" height="315" alt="" /></div>
													</td>
												</tr>
												<tr>
													<td class="separator1" style="padding:30px 30px 0px 30px"><table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#e3e3e3" class="border" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td bgcolor="#e3e3e3" height="1" class="border" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>
</td>
												</tr>
												<tr>
													<td style="padding-bottom: 30px; line-height: 0px; font-size: 0px;"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</div>
							<!-- END Section 5 -->

							<!-- Footer -->
							<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
								<tr>
									<td class="section3" style="padding:0px 30px 30px 30px">
										<table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tr>
												<th class="column-top" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top; Margin:0" width="172">
													<table width="100%" border="0" cellspacing="0" cellpadding="0">
														<tr>
															<td class="img" style="font-size:0pt; line-height:0pt; text-align:left"><div class="img-m-center" style="font-size:0pt; line-height:0pt"><a href="#" target="_blank"><img src="<%= APP_ENV[''URL''] %>/assets/mailer/footer_logo.jpg" mc:edit="image_23" border="0" width="172" style="max-width:172px" height="60" alt="" /></a></div></td>
														</tr>
													</table>
												</th>
												<th class="column" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; Margin:0">
													<table width="100%" border="0" cellspacing="0" cellpadding="0">
														<tr>
															<td align="right">
																<div style="font-size:0pt; line-height:0pt;" class="mobile-br-15"></div>

																<table class="center" border="0" cellspacing="0" cellpadding="0">
																	<tr>
																		<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="32"><a href="#" target="_blank"><img src="<%= APP_ENV[''URL''] %>/assets/mailer/ico_facebook.jpg" mc:edit="image_24" border="0" width="16" style="max-width:16px" height="14" alt="" /></a></td>
																		<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="32"><a href="#" target="_blank"><img src="<%= APP_ENV[''URL''] %>/assets/mailer/ico_twitter.jpg" mc:edit="image_25" border="0" width="16" style="max-width:16px" height="14" alt="" /></a></td>
																		<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="32"><a href="#" target="_blank"><img src="<%= APP_ENV[''URL''] %>/assets/mailer/ico_gplus.jpg" mc:edit="image_26" border="0" width="20" style="max-width:20px" height="14" alt="" /></a></td>
																		<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="32"><a href="#" target="_blank"><img src="<%= APP_ENV[''URL''] %>/assets/mailer/ico_pinterest.jpg" mc:edit="image_27" border="0" width="16" style="max-width:16px" height="14" alt="" /></a></td>
																		<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="16"><a href="#" target="_blank"><img src="<%= APP_ENV[''URL''] %>/assets/mailer/ico_instagram.jpg" mc:edit="image_28" border="0" width="16" style="max-width:16px" height="14" alt="" /></a></td>
																	</tr>
																</table>
															</td>
														</tr>
													</table>
												</th>
											</tr>
										</table>
									</td>
								</tr>
							</table>
							<table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td style="padding: 30px 15px 30px 15px;">
										<div class="text-footer-c" style="color:#000000; font-family:Arial, sans-serif, ''Muli''; font-size:11px; line-height:16px; text-align:center" mc:edit="text_37">East Pixel Bld., 99, Creative City 9000<span class="mobile-block"><span class="hide-for-mobile"> &nbsp; | &nbsp; </span></span><a href="*|UNSUB|*" target="_blank" class="link-black-u" style="color:#000001; text-decoration:underline"><span class="link-black-u" style="color:#000001; text-decoration:underline">Unsubscribe</span></a></div>
									</td>
								</tr>
							</table>
							<!-- END Footer -->
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>
