<%= render partial: 'shared/header' %>

<section class="breadcrumb-section set-bg spad" data-setbg="<%= @about.bg %>">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="breadcrumb-text">
<h2>BLOGS & VIDEOS</h2>
<div class="breadcrumb-controls">
<a href="<%= root_path %>" data-turbolinks="false"><i class="fa fa-home"></i> Home</a>
<span>Blog & VIDEOS</span>
</div>
</div>
</div>
</div>
</div>
</section>


<section class="blog-section blog-page spad">
<div class="container">
<div class="row blog-gird">
<div class="grid-sizer"></div>

 <% @blogs.each do |blog| %>

 <div class="col-lg-4 col-md-6 grid-item">
<div class="blog-item large-item set-bg" data-setbg="<%= blog.img_url %>"  >
<a href="<%= blog_show_path(slug: blog.slug) %>" class="blog-text" data-turbolinks="false">
<div class="categories" style="margin-bottom: 20px;"><%= blog.heading %></div>
<h4  class="primary-btn" data-turbolinks="false">Read Now</b>
</h4>
</a>


</div>
</div>
<% end %>



</div>
<div class="blog-option">
<!-- <div class="blog-pagination">
<a href="#" class="active">1</a>
of
<a href="#">3</a>
<a href="#"><i class="fa fa-long-arrow-right"></i></a>
</div> -->
<!-- <div class="blog-option-right">
<div class="blog-result">Showing 1–3 of 12 results</div>
<div class="show-result">
<p>Show:</p>
<select class="show-result-select">
<option value="">09</option>
<option value="">19</option>
<option value="">29</option>
</select>
</div>
</div> -->
</div>
</div>
</section>


<%= render partial: 'shared/footer' %>