<%= render partial: 'shared/header' %>

<section class="breadcrumb-section set-bg spad" data-setbg="<%= @about.bg %>">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="breadcrumb-text">
<h2>BLOGS</h2>
<div class="breadcrumb-controls">
<a href="<%= root_path %>" data-turbolinks="false"><i class="fa fa-home"></i> Home</a>
<span> <%= @blog.heading %></span>
</div>
</div>
</div>
</div>
</div>
</section>


<section class="blog-single-section spad">
<div class="container">
<div class="row">
 <div class="col-lg-8">
<div class="blog-single-text">
<div class="blog-text">
<p><%= @blog.symmery_one.html_safe %></p>
</div>



</div>
</div>
<div class="col-lg-4">
<div class="blog-single-sidebar">
<div class="bs-latest-news">
	<% if @programs.size > 0 %>	
			<h4>Choose Our Programs</h4>

		<% @programs.each do |program| %>

		<a href="<%= program_show_path(slug: program.slug) %>" class="bl-item set-bg" data-setbg="<%= program.img_url %>" data-turbolinks="false">
		<h5><%= program.heading %></h5>
		<span><%= program.short_desc %></span>
		</a>
	<% end %>
<% end %>
</div>

</div>
</div>
</div>
<div class="row">
<div class="col-lg-12">
<div class="recent-news">
<% if @blogs.size > 0 %>	

	<h4>Related Blogs</h4>
	<div class="row">
	<% @blogs.each do |blog| %>

	<div class="col-lg-4">
	<div class="recent-item set-bg" data-setbg="<%= blog.img_url %>">
	<a href="<%= blog_show_path(slug: blog.slug) %>" class="recent-text" data-turbolinks="false">
	<div class="categories" style="margin-bottom: 20px;"><%= blog.heading %></div>
	<h4  class="primary-btn" data-turbolinks="false">Read Now</h4></b>
	</a>
	</div>
	</div>
	<% end %>

	</div>
<% end %>
</div>
</div>

</div>
</div>
</div>
</section>

<%= render partial: 'shared/footer' %>