<%= render partial: 'shared/header' %>

<section class="breadcrumb-section set-bg spad" data-setbg="<%= @about.bg %>">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="breadcrumb-text">
<h2>About Me</h2>
<div class="breadcrumb-controls">
<a href="<%= root_path %>" data-turbolinks="false"><i class="fa fa-home"></i> Home</a>
<span>About Me</span>
</div>
</div>
</div>
</div>
</div>
</section>


<section class="aboutus-section spad">
<div class="container">
<div class="aboutus-page-text">
<div class="row">
<div class="col-xl-9 col-lg-10 m-auto">
	<% if @about.video != nil %>	
	<iframe src="<%= @about.video %>"
   width="100%" height="500px" frameborder="0" allowfullscreen></iframe>
   <% end %>
<div class="section-title" style="margin-top: 50px;">
<h2><%= @about.main_heading %></h2>
<p><%= @about.main_desc %></p>
</div>
</div>
</div>


<div class="row" style="margin-top: 50px;">
<div class="col-lg-6" style="margin-top: 20px;">
<div class="about-us">
<h4>ABOUT Me</h4>
<p><%= @about.long_desc %>
</p>
<p><%= @about.certification_desc %>
</p>
</div>
</div>
<div class="col-lg-6" style="margin-top: 20px;">
<%= @about.certificate_points.html_safe rescue '' %>
</div>
</div>
</div>
</div>
</section>


<section class="testimonial-section set-bg spad" data-setbg="<%= @about.img %>">
<div class="container">
<div class="row">
<div class="col-lg-10 offset-lg-1">
<div class="testimonial-slider owl-carousel">
<div class="ts-item">
<div class="rating">
</div>
<h4><%= @about.vision_heading %><br><%= @about.vision_desc %>
</h4>
</div>


</div>
</div>
</div>
</div>
</section>


<%= render partial: 'shared/footer' %>
