<%= render partial: 'shared/header' %>


<section class="contact-section spad">
<div class="container"style="margin-top: 70px;">
<div class="row">
<div class="col-lg-3">
<div class="contact-info">
<h4>Information</h4>
<ul>
<li><i class="fa fa-phone"></i>(+91) 9910772367</li>
<li><i class="fa fa-envelope"></i><a href="mailto:info@shehrozalam.com" class="__cf_email__">info@shehrozalam.com</a></li>
</ul>
</div>
<div class="contact-address">
<h4>Address</h4>
<ul>
<li><i class="fa fa-map-marker"></i> New Friends Colony, Delhi-IND
</li>
</ul>
</div>
</div>
<div class="col-lg-8 offset-lg-1">
<div class="contact-form">
<h4>Get in touch</h4>
<%= form_tag contact_us_path, id: "contact-form" do %> 
<div class="row">
<div class="col-lg-6">
<input type="text" placeholder="Name" name="name" id="name" required>
</div>
<div class="col-lg-6">
<input type="email" placeholder="Email" name="email" id="email" required>
</div>
<div class="col-lg-12">
<textarea placeholder="Message" name="message" id="message" required></textarea>
<button type="submit" class="c-btn">Send Message</button>
</div>
</div>
<% end %>
</div>
</div>
</div>
</div>
</section>
<% if @faqs.size > 0 %>	

<section class="classes-section">
<div class="container">
<div class="row">
<div class="col-lg-7 m-auto text-center">
<div class="section-title pl-lg-4 pr-lg-4 pl-0 pr-0">
<h2>FAQS</h2>
<p> QUESTIONS AND ANSWERS</p>
</div>
</div>
</div>
</div>
</div>

<div class="container" style="margin-top: 50px;">
    <div class="row">
       
        <div class="col-lg-12">
            <div class="tab-content" id="faq-tab-content">
                <div class="tab-pane show active" id="tab1" role="tabpanel" aria-labelledby="tab1">
                    <div class="accordion" id="accordion-tab-1">
                       <% @faqs.each_with_index do |faq,index| %>

                        <div class="card">
                            <div class="card-header" id="accordion-tab-1-heading-2">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-<%= index %>" aria-expanded="false" aria-controls="accordion-tab-1-content-2"><%= faq.heading %></button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-1-content-<%= index %>" aria-labelledby="accordion-tab-1-heading-2" data-parent="#accordion-tab-1">
                                <div class="card-body">
                                    <p><%= faq.desc %></p>
                                </div>
                            </div>
                        </div>
                        <% end %>
                       
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
</section>
<% end %>
<%= render partial: 'shared/footer' %>