body {
  background-color: #000000;
}
#my-carousel {
  .item {
    img {
    width: 100%;
    }
  }
}

.owl-next, .owl-prev {
    width: 22px;
    height: 40px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
}
.owl-prev {
  left: 10px;
}
.owl-next {
    right: 10px;
}


.custom_overlay_wrapper { position: relative; }

.custom_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  opacity: 1;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}


.custom_overlay_inner {
  position: absolute;
  top: 50%;
  left: 10px;
  right: 10px;
    transform: translateY(-50%);
}

.custom_overlay h4 {
  position: relative;
  margin-bottom: 4px;
}

.custom_overlay p { 
  color: #ffffff;
  line-height: 1.4em;
  font-size: 100px;
}



/*------------------- TABLET ------------------*/
@media only screen and ( min-width: 600px ) and ( max-width: 999px ) {
  .custom_overlay h4 { font-size: 80%;}
  .custom_overlay p { 
    font-size: 85%;
    line-height: 1.2em;
  }
}

/*------------------- MOBILE ------------------*/
@media only screen and ( max-width: 599px ) {
  .custom_overlay h4 { font-size: 100%;}
  .custom_overlay p { font-size: 100%;}
}

