
	<%= render partial: 'shared/header' %>
<section class="contact-section spad">

</section>
	<div class="container-contact100">
		
		<div class="wrap-contact100" style="margin-top: 20px;">

			<form class="contact100-form validate-form">

				<span class="contact100-form-title">
					Client Assessment
				</span>
				<p>The purpose of this form is for me to get to know you better and make sure that I will meet your expectations. I want to speak and work with motivated individuals who are excited to take their Fitness to the next level. 🏋️‍♂️🥑</p>

				<div class="wrap-input100 validate-input" data-validate="Name is required" style="margin-top: 30px;">
					<span class="label-input100">Full Name <font color="#FF0000">*</font></span>
					<input class="input100" type="text" name="name" placeholder="Your Answer">
					<span class="focus-input100"></span>
				</div>
				<div class="wrap-input100 validate-input" data-validate="Name is required">
					<span class="label-input100">Your Name <font color="#FF0000">*</font></span>
					<input class="input100" type="text" name="name" placeholder="Your Answer">
					<span class="focus-input100"></span>
				</div>
				<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
					<span class="label-input100">Occupation <font color="#FF0000">*</font></span>
					<input class="input100" type="text" name="email" placeholder="Your Answer">
					<span class="focus-input100"></span>
				</div>
				<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
					<span class="label-input100">Age <font color="#FF0000">*</font></span>
					<input class="input100" type="Number" name="email" placeholder="Your Answer" maxlength="3">
					<span class="focus-input100"></span>
				</div>
				<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
					<span class="label-input100">Height <font color="#FF0000">*</font></span>
					<input class="input100" type="text" name="email" placeholder="Your Answer">
					<span class="focus-input100"></span>
				</div>
				<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
					<span class="label-input100">Body Weight (in kgs) <font color="#FF0000">*</font></span>
					<input class="input100" type="text" name="email" placeholder="Your Answer">
					<span class="focus-input100"></span>
				</div>
				<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
					<span class="label-input100">Percentage of body fat (if you know)></span>
					<div>
                <input type="radio" value="none" id="radio_1" name="city" style="margin-top: 20px;" />
                <label for="radio_1" class="radio"><span>7-20% Healthy</span></label>
              </div>
              <div>
                <input  type="radio" value="none" id="radio_2" name="city" style="margin-top: 20px;"/>
                <label for="radio_2" class="radio"><span>20-30% Overweight</span></label>
              </div>
              <div>
                <input  type="radio" value="none" id="radio_2" name="city" style="margin-top: 20px;"/>
                <label for="radio_2" class="radio"><span>>30% Obese</span></label>
              </div>
					<span class="focus-input100"></span>
				</div>
				<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
					<span class="label-input100">Medical Conditions (if any) <font color="#FF0000">*</font></span>
					 <div>
			              <input type="checkbox" value="none" id="checkbox_1" name="contact1" style="margin-top: 20px;"/>
			              <label for="checkbox_1" class="checkbox"><span>None</span></label>
			            </div>
			            <div>
			              <input type="checkbox" value="none" id="checkbox_2" name="contact2" style="margin-top: 20px;"/>
			              <label for="checkbox_2" class="checkbox"><span>Type II Diabetes</span></label>
			            </div>
			            <div>
			              <input type="checkbox" value="none" id="checkbox_3" name="contact3" style="margin-top: 20px;"/>
			              <label for="checkbox_3" class="checkbox"><span>PCOS</span></label>
			            </div>
			            <div>
			              <input type="checkbox" value="none" id="checkbox_3" name="contact3" style="margin-top: 20px;"/>
			              <label for="checkbox_3" class="checkbox"><span>Fatty Liver</span></label>
			            </div>
			            <div>
			              <input type="checkbox" value="none" id="checkbox_3" name="contact3" style="margin-top: 20px;"/>
			              <label for="checkbox_3" class="checkbox" style="display: contents;"><span>High Triglycerides or High Cholosterol Levels</span></label>
			            </div>
			            <div>
			              <input type="checkbox" value="none" id="checkbox_3" name="contact3" style="margin-top: 20px;"/>
			              <label for="checkbox_3" class="checkbox"><span>Fatty Liver</span></label>
			            </div>
			            <input class="input100" type="text" name="email" placeholder="Your Answer">

					<span class="focus-input100"></span>
				</div>
				<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
					<span class="label-input100">Current Workout Regularity <font color="#FF0000">*</font></span>
					<div>
                <input type="radio" value="none" id="radio_1" name="city" style="margin-top: 20px;"/>
                <label for="radio_1" class="radio"><span>Don't Workout</span></label>
              </div>
              <div>
                <input  type="radio" value="none" id="radio_2" name="city" style="margin-top: 20px;"/>
                <label for="radio_2" class="radio"><span>2-4 times a week</span></label>
              </div>
              <div>
                <input  type="radio" value="none" id="radio_2" name="city" style="margin-top: 20px;"/>
                <label for="radio_2" class="radio"><span>4-7 times a week</span></label>
              </div>
					<span class="focus-input100"></span>
				</div>
				<div class="wrap-input100 input100-select">
					<span class="label-input100">Current Workout Intensity <font color="#FF0000">*</font></span>
					<div>
						<label style="margin-top: 20px;">      
							<input type="radio" name="rating" value="1" />      
							1     
							</label>     
							<label style="margin-left: 20px;">      
							<input type="radio" name="rating" value="2" />      
							2     
							</label>     
							<label style="margin-left: 20px;">      
							<input type="radio" name="rating" value="3" />      
							3     
							</label>
							<label style="margin-left: 20px;">      
							<input type="radio" name="rating" value="3" />      
							4     
							</label>
							<label style="margin-left: 20px;">      
							<input type="radio" name="rating" value="3" />      
							5     
							</label>
					</div>
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 input100-select">
					<span class="label-input100">Workout Time <font color="#FF0000">*</font></span>
					<div style="margin-left: 10px;">
						<input id="bdate" type="time" name="bdate" />

					</div>
					<span class="focus-input100"></span>
				</div>
				<div class="wrap-input100 validate-input" data-validate="Name is required">
					<span class="label-input100">All Daily Meals Description and Frequency <font color="#FF0000">*</font></span>
					<p style="font-size: 12px; margin-left: 5px;">Tell in detail what foods you eat for Breakfast, Lunch, Snacks and Dinner</p>
					<input class="input100" type="text" name="name" placeholder="Your Answer">
					<span class="focus-input100"></span>
				</div>
				<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
					<span class="label-input100">Meal Preference <font color="#FF0000">*</font></span>
					 <div>
			              <input type="checkbox" value="none" id="checkbox_1" name="contact1" style="margin-top: 20px;"/>
			              <label for="checkbox_1" class="checkbox"><span>Eggs</span></label>
			            </div>
			            <div>
			              <input type="checkbox" value="none" id="checkbox_2" name="contact2" style="margin-top: 20px;"/>
			              <label for="checkbox_2" class="checkbox"><span>Dairy</span></label>
			            </div>
			            <div>
			              <input type="checkbox" value="none" id="checkbox_3" name="contact3" style="margin-top: 20px;"/>
			              <label for="checkbox_3" class="checkbox"><span>Meat, Poultry, Sea Food</span></label>
			            </div>
			            <div>
			              <input type="checkbox" value="none" id="checkbox_3" name="contact3" style="margin-top: 20px;"/>
			              <label for="checkbox_3" class="checkbox"><span>Vegetables</span></label>
			            </div>
			            
			            <div>
			              <input type="checkbox" value="none" id="checkbox_3" name="contact3" style="margin-top: 20px;"/>
			              <label for="checkbox_3" class="checkbox"><span>Other</span></label>
			            </div>
			            <input class="input100" type="text" name="email" placeholder="Your Answer">

					<span class="focus-input100"></span>
				</div>
				<div class="wrap-input100 input100-select">
					<span class="label-input100">Work Timing <font color="#FF0000">*</font></span>
					<div>
						<input id="bdate" type="time" name="bdate" style="margin-left: 10px;"/>

					</div>
					<span class="focus-input100"></span>
				</div>
				<div class="wrap-input100 input100-select">
					<span class="label-input100">Bed Time *</span>
					<div>
						<input id="bdate" type="time" name="bdate" style="margin-left: 10px;" />

					</div>
					<span class="focus-input100"></span>
				</div>
				<div class="wrap-input100 input100-select">
					<span class="label-input100">Wake Up Time *</span>
					<div>
						<input id="bdate" type="time" name="bdate" style="margin-left: 10px;"/>

					</div>
					<span class="focus-input100"></span>
				</div>
				<div class="wrap-input100 validate-input" data-validate="Name is required">
					<span class="label-input100">Supplementation or Medication (if any)</span>
					<input class="input100" type="text" name="name" placeholder="Your Answer">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
					<span class="label-input100">Current Fitness Goals <font color="#FF0000">*</font></span>
					 <div>
			              <input type="checkbox" value="none" id="checkbox_1" name="contact1" style="margin-top: 20px;"/>
			              <label for="checkbox_1" class="checkbox"><span>Fat Loss</span></label>
			            </div>
			            <div>
			              <input type="checkbox" value="none" id="checkbox_2" name="contact2" style="margin-top: 20px;"/>
			              <label for="checkbox_2" class="checkbox"><span>Strength and Muscle Gain</span></label>
			            </div>
			            <div>
			              <input type="checkbox" value="none" id="checkbox_3" name="contact3" style="margin-top: 20px;"/>
			              <label for="checkbox_3" class="checkbox" style="display: contents;"><span>Correct Type II Diabetes / PCOS / Fatty Liver / Cholesterol levels</span></label>
			            </div>
			          
			            
			            <div>
			              <input type="checkbox" value="none" id="checkbox_3" name="contact3" style="margin-top: 20px;"/>
			              <label for="checkbox_3" class="checkbox"><span>Other</span></label>
			            </div>
			            <input class="input100" type="text" name="email" placeholder="Your Answer">

					<span class="focus-input100"></span>
				</div>
				<div class="wrap-input100 input100-select">
					<span class="label-input100">Current Physique - Front Back Side View (Optional)</span>
					<div>
						<input id="bdate" type="file" name="bdate" style="margin-top: 20px;" />

					</div>
					<span class="focus-input100"></span>
				</div>
				<div class="wrap-input100 validate-input" data-validate="Name is required">
					<span class="label-input100">Email Address <font color="#FF0000">*</font></span>
					<input class="input100" type="email" name="name" placeholder="Your Answer">
					<span class="focus-input100"></span>
				</div>
				<div class="wrap-input100 validate-input" data-validate="Name is required">
					<span class="label-input100">Phone Number <font color="#FF0000">*</font></span>
					<input class="input100" type="Number" name="name" placeholder="Your Answer">
					<span class="focus-input100"></span>
				</div>

				<div class="container-contact100-form-btn">
					<div class="wrap-contact100-form-btn">
						<div class="contact100-form-bgbtn"></div>
						<button class="contact100-form-btn">
							<span>
								Submit
								<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
							</span>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
