<!DOCTYPE html>
<html>
  <head>
    <title>SHEHROZ ALAM FITNESS AND NUTRITION</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <meta charset="UTF-8">
      <meta name="description" content="Shehroz Alam Fitness">
      <meta name="keywords" content="Shehroz Alam Fitness, Fitness, creative, html">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      
      <link rel="shortcut icon" href="/assets/fav-icon.png" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800,900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <meta name="facebook-domain-verification" content="kfympa6mn0xcf1oa1i4l70y9rryokw" />
  </head>

  <body>
    <%= render partial: '/layouts/flash_msgs' %>
    <%= yield %>
  </body>
</html>
